### DataFrame Data Structure

In [ ]:
import pandas as pd

In [3]:
record1 = pd.Series({
    "Name": "Alice",
    "Class": "Physics",
    "Score": 85
})

record2 = pd.Series({
    "Name": "Jack",
    "Class": "Chemistry",
    "Score": 82
})

record3 = pd.Series({
    "Name": "Helen",
    "Class": "Biology",
    "Score": 90
})

df = pd.DataFrame([record1, record2, record3],
                 index = ["School1", "School2", "School3"])

df.head()

          Name      Class  Score
School1  Alice    Physics     85
School2   Jack  Chemistry     82
School3  Helen    Biology     90

In [8]:
# use a list of dictionaries
students = [
    {"Name": "Alice",
    "Class": "Physics",
    "Score": 85},
    {"Name": "Jack",
    "Class": "Chemistry",
    "Score": 82},
    {"Name": "Helen",
    "Class": "Biology",
    "Score": 90}
]

# then pass this list of dictionaries into the datafarame function

df = pd.DataFrame(students, index = ["School1", "School2", "School1"])
df.head()

          Name      Class  Score
School1  Alice    Physics     85
School2   Jack  Chemistry     82
School1  Helen    Biology     90

In [9]:
df.loc["School2"]

Name          Jack
Class    Chemistry
Score           82
Name: School2, dtype: object

In [10]:
df.loc["School1"]

          Name    Class  Score
School1  Alice  Physics     85
School1  Helen  Biology     90

In [11]:
df.loc["School1", "Name"]

School1    Alice
School1    Helen
Name: Name, dtype: object

In [12]:
df.T

       School1    School2  School1
Name     Alice       Jack    Helen
Class  Physics  Chemistry  Biology
Score       85         82       90

In [13]:
df.T.loc["Name"]

School1    Alice
School2     Jack
School1    Helen
Name: Name, dtype: object

In [14]:
df.head()

          Name      Class  Score
School1  Alice    Physics     85
School2   Jack  Chemistry     82
School1  Helen    Biology     90

In [15]:
df["Name"]

School1    Alice
School2     Jack
School1    Helen
Name: Name, dtype: object

In [16]:
df["Class"]

School1      Physics
School2    Chemistry
School1      Biology
Name: Class, dtype: object

In [17]:
df["Score"]

School1    85
School2    82
School1    90
Name: Score, dtype: int64

In [18]:
df.loc[:, ["Name", "Score"]]

          Name  Score
School1  Alice     85
School2   Jack     82
School1  Helen     90

In [19]:
copy_df = df.copy()
copy_df.drop("Name", inplace = True, axis = 1)
copy_df

             Class  Score
School1    Physics     85
School2  Chemistry     82
School1    Biology     90

In [20]:
# or we can use del fuction
del copy_df["Class"]
copy_df

         Score
School1     85
School2     82
School1     90

In [21]:
# add a new column to the dataframe
df["ClassRanking"] = None
df

          Name      Class  Score ClassRanking
School1  Alice    Physics     85         None
School2   Jack  Chemistry     82         None
School1  Helen    Biology     90         None

### DataFrame Indexing and Loading

In [ ]:
! cat datasets/Admission_Predict.csv

In [ ]:
import pandas as pd

df = pd.read_csv("datasets/Admission_Predict.csv")
df.head()

In [ ]:
# change column names
new_df = df.rename(columns ={"XXX": "YYY", "AAA": "BBB"})
new_df.head()
new_df.columns

In [ ]:
new_df = new_df.rename(columns = {"LOR": "Letter of Recommendation"})
new_df.head()

In [ ]:
# strip white space / 剥离空位
new_df = new.df.rename(mapper = str.strip, axis = "columns")
new_df.head()

In [ ]:
cols = list(df.columns)
cols = [x.lower().strip() for x in cols]
df.columns = cols
df.head()

### Querying a DataFrame

In [ ]:
import pandas as pd

df = pd.read_csv("datasets/Admission_Predict.csv", index_col = 0)
df.columns = [x.lower().strip() for x in df.columns]  # strip white space
df.head()

In [ ]:
admit_mask = df["chance of admit"] > 0.7
admit_mask

In [ ]:
df.where(admit_mask).head()

In [ ]:
# drop NaN data
df.where(admit_mask).dropna().head()

In [ ]:
df[df["chance of admit"] > 0.7].head()

In [ ]:
df["gre score"].head()

In [ ]:
df[["gre score", "toelf score"]].head()

In [ ]:
# boolean mask
df[df["gre score"] > 320].head()

In [ ]:
(df["chance of admit"] > 0.7) & (df["chance of admit"] < 0.9)

In [ ]:
df["chance of admit"].gt(0.7) & df["chance of admit"].lt(0.9)

In [ ]:
df["chance of admit"].gt(0.7).lt(0.9)

### Indexing DataFrame

In [ ]:
import pandas as pd

df = pd.read_csv("datasets/Admission_Predict.csv", index_col = 0)
df.columns = [x.lower().strip() for x in df.columns]  # strip white space
df.head()

In [ ]:
# copy the indexed data into its own column
df["Serial Number"] = df.index
# set the index to another column
df = df.set_index("Chance of Admit")
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv("datasets/census.csv")
df.head()

In [ ]:
# in this data set there are two summarized levels, one that contains summary data for
# the whole country. and one that contains summary data for each state.
# here we can run unique on the sum level of our current DataFrame
df["SUMLEV"].unique()
# will return array([40, 50])

In [ ]:
# let's exclue all of the rows that are summaries at the stat level and just keep
# the county data
df = df[df["SUMLEV"] == 50]
df.head()

In [ ]:
columns_to_keep = ["STNAME", "CTYNAME", "BIRTH2010", ... "POPESTIMATE2015"]
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(["STNAME", "CTYNAME"])
df.head()

In [ ]:
df.loc["Michigan", "Washtenaw County"]

In [ ]:
df.loc[[("Michigan", "Washtenaw County"),
       ("Michigan", "Wayne County")]]

### Missing Values

In [23]:
import pandas as pd

In [ ]:
df = pd.read_csv("datasets/class_grades.csv")
df.head(10)

In [ ]:
# we can actually use the function .isnull() to create a boolean mask of the whole
# dataframe. this effectively broadcast the isnull() function to every cell of data.
mask = df.isnull()
maks.head(10)

In [ ]:
# Another useful operation is to be able to drop all of those rows which have any
# missing data, which can be done with the dropna() function.
df.dropna().head(10)

In [ ]:
# one of the handy functions that pandas has for working with missing values is the 
# filling function, fillna(). this function takes a number or parameters. you could
# pass in a single value which is called a scalar value to change all of the missing
# data to one value. this isn't really applicable in this case, but it's a pretty
# common use case.

# so if we wanted to fill all missing values with 0, we would use fillna
df.fillna(0, inplace = True)
df.head(10)

In [ ]:
# we can also use the na_filter option to turn off white space filtering. if white
# space is an catual value of interest. but in practice, this is pretty rere. in data
# without any NAs, passing na_filter = False, can improve the performance of reading
# a large file.

df = pd.read_csv("datasets/log.csv")
df.head(20)

In [ ]:
df = df.set_index("time")
df = df.sort_index()
df.head(20)

In [ ]:
df = df.reset_index()
df = df.set_index(["time", "user"])
df

In [24]:
df = pd.DataFrame({
    "A": [1, 1, 2, 3, 4],
    "B": [3, 6, 3, 8, 9],
    "C": ["a", "b", "c", "d", "e"]
})

df

   A  B  C
0  1  3  a
1  1  6  b
2  2  3  c
3  3  8  d
4  4  9  e

In [25]:
# we can replace 1's with 100
df.replace(1, 100)

     A  B  C
0  100  3  a
1  100  6  b
2    2  3  c
3    3  8  d
4    4  9  e

In [26]:
# changing two values
df.replace([1, 3], [100, 300])

     A    B  C
0  100  300  a
1  100    6  b
2    2  300  c
3  300    8  d
4    4    9  e

In [ ]:
# pandas replacement with regex
df = pd.read_csv("datasets/log.csv")
df.head(20)

In [ ]:
# detect all html pages in the "video" column, lets say that just means they end with
# ".html", and we want to owerwrite that with the keyword "webpage".
df.replace(to_replace = ".*.html$", value = "webpage", regex = True)

### Example: Manipulating DataFrame

In [27]:
import pandas as pd

In [ ]:
df = pd.read_csv("datasets/presidents.csv")
df.head()

In [ ]:
df["First"] = df["President"]
df["First"] = df["First"].replace("[].*", "", regex = True)
df.head()

In [ ]:
del(df["First"])

def splitname(row):
    row["First"] = row["President"].split(" ")[0] # first name of president
    row["Last"] = row["President"].split(" ")[-1] # last name of president
    return row
    
df = df.apply(splitname, axis = "columns")
df.head()

In [ ]:
pattern = "(^[\w]*)(?:.* )([\w]*$)"

In [ ]:
df["President"].str.extrack(pattern).head()

In [ ]:
# named columns
pattern = "(?P<First>$[\w]*)(?:.* )(?P<Last>[\w]*$)"
# call extract
names = df["President"].str.extract(pattern).head()
names

In [ ]:
# copy these into our main dataframe if we want to
df["First"] = names["First"]
df["Last"] = names["Last"]
df.head()

In [ ]:
# pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [ ]:
df["Born"] = df["Born"].str.extract("([\w]{3} [\w]{1, 2}, [\w]{4})")
df["Born"].head()

In [ ]:
# transfer to datetime format
df["Born"] = pd.to_datetime(df["Born"])
df["Born"].head()